body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
  line-height: 1.6em;
  padding-left: 20%;
  padding-right: 20%;
}

a{
color: #007e7e;

}

h1, h2{
  font-weight: normal;
  color: #000;
 
}

h1 {
  font-size: 150%;
}
h2{
  margin-top: 3%;
  font-size: 130%;
}

p {
  color: maroon;
}

em {
  font-family: serif;
}

p.greentea {
  color: green;
}
p.lightblue {
  color: lightblue;
}
p.blue {
  color: plum;
}
p.red {
  color: brown;
}

#garantia-print{
  padding: 25px;
  margin: 30px;
  margin-right: 250px;
  border-style: solid;
  border-width: thin;
  border-color: #000;
  line-height: 1.9em;
  font-style: italic;
  color: #444;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
